{% extends 'base_generic.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<li class="list-group-item d-flex justify-content-between align-items-center">
  <h3 class="mb-1 text-center">Username: {{ user.username }}</h3>
  {% if request.user.is_superuser %}
  <h3 class="text-xl text-center">Superuser ⭐️⭐️⭐️</h3>
  {% else %}
  <h3 class="text-xl text-center">User ⭐️⭐️</h3>
  {% endif %}
</li>
  <div class="card-header py-3">
  <h1 class="mb-5 text-center">Your transaction page 📈</h1>
  <a href="{% url 'create_transaction' %}" class="btn btn-success mb-4">Create transaction</a>
  <a href="{% url 'login' %}" class="btn btn-danger mb-4 float-right">Log out</a>
  <ul class="list-group">
    {% if transactions %}
      {% for transaction in transactions %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ transaction.get_type_display }} {{ transaction.amount }} $ - 
          {{ transaction.get_method_display }}🔁 - {{ transaction.date }}🕓
          <div>
            <a href="{% url 'update_transaction' transaction.id %}" class="btn btn-secondary btn-sm">Editing✏️</a>
            <form action="{% url 'delete_transaction' transaction.id %}" method="post" style="display:inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-sm">Delete🗑</button>
            </form>
          </div>
        </li>
      {% endfor %}
    {% else %}
      <p class="border py-3 px-4 text-center">So far there is no transaction ❌</p>
    {% endif %}
  </ul>
  </div>
</div>
</div>
</div>
</div>

{% endblock %}